{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- templates/careers/career-detail.html -->
<section class="section careers-section" id="careers">

    <div class="career-detail-card">
        <h3 class="h3-section ">{{ career.title }}</h3>
        <p class="body "><strong>Location:</strong> {{ career.location }}</p>
        <p class="body "><strong>Category:</strong> {{ career.category }}</p>
        <p class="body "><strong>Job Type:</strong> {{ career.job_type }}</p>
        <p class="body "><strong>Work Mode:</strong> {{ career.work_mode }}</p>
        <p class="body "><strong>Posted At:</strong> {{ career.posted_at }}</p>
        
        <hr>
    
        <div class="career-detail-container">
            <div class="job-header mt-3">
                <p class="body "><a href="{% url 'careers:careers-list' %}">Jobs</a> / {{ career.title }}</p>
                <h3 class="h3-section ">{{ career.title }}</h3>
                <p class="body ">{{ career.location }} | {{ career.work_mode }}</p>

                <div class="job-actions mt-3">
                    <a href="{% url 'careers:career-apply' career.pk %}" class="btn btn-primary apply">Apply Now</a>
                </div>
            </div>

            <div class="job-section mt-3">
                <h5 class="h5-small-title">About the job</h5>
                <p class="body ">{{ career.description|linebreaks }}</p>
            </div>

            <div class="job-section mt-3">
                <h5 class="h5-small-title">Responsibilities</h5>
                <ul>
                    {% for item in career.requirements.splitlines %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="job-section mt-3">
                <h5 class="h5-small-title">Qualifications</h5>
                <ul>
                {% for item in career.qualifications.splitlines %}
                    <li>{{ item }}</li>
                {% endfor %}
                </ul>
            </div>

            <div class="job-section mt-3">
                <h5 class="h5-small-title">Benefits</h5>
                <ul>
                    <li>Competitive salary and benefits package</li>
                    <li>Flexible work hours and remote work options</li>
                    <li>Opportunities for professional development and growth</li>
                </ul>
            </div>

            <div class="job-footer mt-3">
                <a href="{% url 'careers:career-apply' career.pk %}" class="btn btn-primary apply">Apply Now</a>
            </div>
        </div>  
    </div>  

</section>

{% endblock %}