{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- templates/careers/career-detail.html -->

<div class="career-detail-card">
    <h2>{{ career.title }}</h2>
    <p><strong>Location:</strong> {{ career.location }}</p>
    <p><strong>Category:</strong> {{ career.category }}</p>
    <p><strong>Job Type:</strong> {{ career.job_type }}</p>
    <p><strong>Work Mode:</strong> {{ career.work_mode }}</p>
    <p><strong>Posted At:</strong> {{ career.posted_at }}</p>
    
    <hr>
    
   
<div class="career-detail-container">
    <div class="job-header">
        <p><a href="#">Jobs</a> / {{ career.title }}</p>
        <h1>{{ career.title }}</h1>
        <p>{{ career.location }} | {{ career.work_mode }}</p>

        <div class="job-actions">
        <a href="{% url 'careers:career-apply' career.pk %}" class="apply">Apply Now</a>
            <button class="save">Save</button>
        </div>
    </div>

    <div class="job-section">
        <h2>About the job</h2>
        <p>{{ career.description|linebreaks }}</p>
    </div>

    <div class="job-section">
        <h2>Responsibilities</h2>
        <ul>
            {% for item in career.requirements.splitlines %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="job-section">
        <h2>Qualifications</h2>
        <ul>
        {% for item in career.qualifications.splitlines %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    </div>

    <div class="job-section">
        <h2>Benefits</h2>
        <ul>
            <li>Competitive salary and benefits package</li>
            <li>Flexible work hours and remote work options</li>
            <li>Opportunities for professional development and growth</li>
        </ul>
    </div>

    <div class="job-footer">
        <a href="{% url 'careers:career-apply' career.pk %}" class="apply">Apply Now</a>

    </div>
</div>



{% endblock %}