{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Login Section -->
<section class="section login-section">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="h2-page" style="color: var(--primary);">Login to Client Portal</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm p-4 rounded-4 h-100">
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">
              Login
            </button>
          </form>

          <div class="text-center mt-4">
            <p class="body"><a href="{% url 'accounts:password_reset' %}" style="color:var(--alert);">Forgot password?</a></p>
            <p class="body">Don't have an account? <a href="{% url 'accounts:signup' %}" style="color:var(--alert);">Sign up</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}

