{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Signup Section -->
<section class="section sign-up-section">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="h2-page" style="color: var(--primary);">Create your account</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">

        <div class="card shadow-sm p-4 rounded-4 h-100">


          <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">
              Sign Up
            </button>
          </form>

          <div class="text-center mt-4" >
            <p class="body">Already have an account? <a href="{% url 'accounts:login' %}" style="color:var(--alert);">Login</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
