{% extends "base.html" %}
{% block content %}
<!-- Password Reset Sent Confirmation -->
<section class="section">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="h2-page" style="color: var(--primary);">Password Reset Sent</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm p-4 rounded-4 h-100">
          <div class="text-center mb-4">
            <p class="body">
            We’ve emailed you instructions for setting your password.<br>
            Please check your inbox and follow the link.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
