{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Set New Password -->
<section class="section">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="h2-page" style="color: var(--primary);">Set New Password</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm p-4 rounded-4 h-100">
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">
              Change My Password
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
