{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"></head>
<body>
    <header>
        <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'services:services_home' %}">Services</a></li>
            <li><a href="{% url 'portfolio:portfolio_home' %}">Portfolio</a></li>
            <li><a href="{% url 'blog:blog_home' %}">Blog</a></li>
            <li><a href="{% url 'contact:contact_home' %}">Contact</a></li>
        </ul>
    </nav>
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <script src="{% static 'assets/js/main.js' %}"></script></body>
</html>
